/* ============================================ */
/* general */

:root {
  --my-bg-color: black;
  --my-color: hsl(0, 0%, 100%);
  --my-primary-color: #5610ff;
  --my-secondary-color: #42debe;
  --btn-color1: #fc0061;
  --btn-color2: #c6fff8;
  --my-tertiary-color: #ffffff;
  --my-danger-color: #bb14f8;
  --my-border-color: #ffffff8d;
  --logo-color-one: #6d00ff;
  --logo-color-two: #ffffff;
  --logo-shadow-color: #264688;
  --table-odd-color: #264688;
}

[data-bs-theme="dark"] {
  body::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
      ),
      linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.06),
        rgba(0, 255, 0, 0.02),
        rgba(0, 0, 255, 0.06)
      );
    z-index: 5000;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  .profile-img {
    filter: grayscale(20%) brightness(1) contrast(40);
  }
}

[data-bs-theme="light"] {
  --my-bg-color: #a5b796;
  --my-color: hsla(131, 22%, 20%);
  --bs-secondary-bg: #cfcfcf;
  --my-primary-color: rgb(51 51 51);
  --my-secondary-color: rgb(102 131 106);
  --my-tertiary-color: hsl(130, 17%, 14%);
  --my-danger-color: hsl(113, 100%, 86%);
  --my-border-color: rgba(81, 122, 89, 0.487);
  --logo-color-one: #304e35;
  --logo-color-two: #91ad98;
  --logo-shadow-color: #2e3e00;
  --table-odd-color: #78787879;
}

* {
  transition: background-color 300ms;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--my-bg-color);
  color: var(--my-color);
  height: 100svh;
}

label::after {
  background-color: transparent !important;
}

a {
  all: unset;
  cursor: pointer;
}

#project-title {
  user-select: none;
}

.form-control:disabled {
  background-color: transparent;
  border: 2px solid transparent;
  color: var(--my-color);
  opacity: 0.5;
}

.form-control,
.form-control:focus {
  color: var(--my-color);
  border: 2px solid var(--my-border-color);
  background-color: transparent;
  box-shadow: none;
}

.form-control.is-invalid {
  background-image: none;
  padding-right: 0.75rem;
}

.form-control.is-invalid:focus {
  box-shadow: none;
}

/* general */
/* ============================================ */
/* login */

#top-screen {
  flex: 1 1 50%;
}

#project-title {
  font-family: "Jersey 10", sans-serif;
  font-style: normal;
  font-size: 200px;
  background-image: linear-gradient(
    var(--logo-color-one) 40%,
    var(--logo-color-two) 80%
  );
  color: var(--my-danger-color);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: perspective(200px) rotateX(10deg) translateY(30px);
  filter: drop-shadow(0px 10px var(--logo-shadow-color));
  pointer-events: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#loginForm,
#registerForm {
  max-width: 300px;
}

#loginForm input,
#registerForm input {
  border: none;
}

#loginForm label,
#registerForm label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.1s linear;
}

#loginForm input:focus + label,
#loginForm input:valid + label,
#registerForm input:focus + label,
#registerForm input:valid + label {
  top: -10px;
  font-size: 12px;
}

.invalid-feedback,
.text-danger {
  color: var(--my-danger-color) !important;
}

.press-start-btn {
  all: unset;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 30px;
  animation: blink 1s infinite;
}

/* login */
/* ============================================ */
/* profile */

#profile-window {
  background: linear-gradient(180deg, blue, rgb(0, 0, 83));
  width: 750px;
  height: 550px;
  box-sizing: content-box;
}

@media (width < 576px) {
  #profile-window {
    width: 100%;
    height: 100%;
  }
}

#profileMenu a {
  padding: 4px 4px 0 4px;
}

#profileMenu a:not(.active) {
  border: 2px solid transparent;
}

#profileMenu a.active {
  border: 2px solid var(--my-color);
  border-bottom: none;
  background: linear-gradient(180deg, rgb(0, 0, 0), transparent);
}

@keyframes trip {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.my-button {
  padding: 8px 20px;
  border: none;
}

.primary-button {
  background: linear-gradient(90deg, var(--btn-color1), var(--btn-color2));
  background-size: 200% 200%;
  color: var(--my-color);
}

.secondary-button {
  background: linear-gradient(90deg, grey, white);
  background-size: 200% 200%;
  color: var(--my-color);
}

.my-button:hover,
.my-button:disabled {
  animation: trip 1s infinite;
}

[data-bs-theme="light"] {
  #profile-window {
    background: none;
    border: 10px double var(--my-border-color);
  }
  #profileMenu a.active {
    background: none;
  }
  .primary-button {
    background: none;
    border: 3px solid var(--my-primary-color);
  }
  .secondary-button {
    background: none;
    border: 3px solid var(--my-secondary-color);
  }
  @media (width < 576px) {
    #profile-window {
      border: none;
    }
  }
}

.profile-img-box::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgba(0, 67, 23, 0);
  transition: baclground-color 100ms;
  z-index: 3;
}

.profile-img {
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 100ms filter linear;
  z-index: 1;
}

/* history */

#match-history-table > div > div {
  overflow: hidden;
}

#match-history-table > div > div {
  width: 100%;
  text-align: center;
  overflow: auto;
  flex-grow: 1;
}

#match-history-table > div > div:nth-child(even) {
  background-color: var(--table-odd-color);
}

#match-history-table > div {
  flex: 1;
  overflow: hidden;
}

/* friends */

#find-friend {
  border: 2px solid var(--my-border-color);
  color: var(--my-color);
}

/* profile settings */

#game-menu {
  width: 100%;
}

.game-options {
  color: var(--bs-body-color);
}

.game-options [role="group"].locked {
  --my-primary-color: grey;
}

.btn-primary,
.btn-secondary {
  border: none;
}

.menu-btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  padding: 6px 0;
}

.menu-btn:hover > span {
  animation: blink 1s infinite;
}

.mini-paddle {
  height: 20px;
  aspect-ratio: 1 / 4;
  background-color: var(--bs-body-color);
  display: none;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.menu-btn:hover {
  justify-content: space-between;
  .mini-paddle {
    display: block;
  }
  .mini-paddle.p1 {
    animation: move 1s infinite linear;
  }
  .mini-paddle.p2 {
    animation: move 1s infinite linear;
    animation-delay: -0.5s;
  }
}

@media (max-width: 575px) {
  #project-title {
    font-size: 170px !important;
  }
}

#title-container {
  height: 50vh;
}

[data-bs-theme="light"] {
  .profile-img-box::before {
    background-color: rgba(0, 67, 23, 0.5);
  }
  .profile-img {
    filter: grayscale(100%) brightness(1.5) contrast(0.7) saturate(1);
  }
}

.profile-img-box {
  overflow: hidden;
}

.settings-switch {
  border: 3px solid var(--my-primary-color);
  color: var(--my-primary-color);
}

.settings-switch:hover {
  border: 3px solid var(--my-primary-color);
  color: var(--my-primary-color);
}

.settings-switch.on {
  background-color: var(--my-primary-color);
  color: var(--bs-body-bg);
}

/* options */

#modeSwitch {
  cursor: pointer;
}

/* mode select */

.mode-box {
  border: 3px solid var(--my-border-color);
}

.retro-btn {
  background-color: grey;
  border: 5px outset white;
  text-align: center;
  cursor: pointer;
}

[data-bs-theme="light"] {
  .retro-btn {
    background-color: transparent;
    border-color: var(--my-border-color);
  }
}

@keyframes shine {
  0% {
    background-color: rgb(0, 255, 0);
  }
  50% {
    background-color: rgb(32, 77, 6);
  }
  100% {
    background-color: rgb(0, 255, 0);
  }
}

.online-light {
  box-sizing: content-box;
  background-color: rgb(0, 255, 0);
  border: 3px solid rgb(0, 55, 0);
  width: 6px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  right: 8px;
  bottom: 8px;
  animation: shine 1s infinite;
}

.check-box {
  border: 3px solid var(--my-border-color);
  width: 30px;
  aspect-ratio: 1/1;
}

/* tournament */

.player-name-tournament {
  max-width: 100px;
  overflow: auto;
}

/* Extra small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px horizontal
Extra extra large	xxl	≥1400px */
