/* styles on top of Bootstrap */

:root {
  --bs-border-width: 3px;
}

:root {
  --bg-color: #000000;
  --color: #e2c8ff;
  --primary-color: #5610ff;
  --secondary-color: #42debe;
  --tertiary-color: #ffffff;
  --danger-color: #bb14f8;
  --border-color: #320093;
  --logo-color-one: #6d00ff;
  --logo-color-two: #ffffff;
  --logo-shadow-color: #264688;
}

[data-bs-theme="light"] {
  --bg-color: #a5b796;
  --color: hsla(131, 22%, 20%);
  --bs-secondary-bg: #cfcfcf;
  --primary-color: rgb(51 51 51);
  --secondary-color: rgb(102 131 106);
  --tertiary-color: hsl(130, 17%, 14%);
  --danger-color: hsl(130, 17%, 14%);
  --border-color: #320093;
  --logo-color-one: #304e35;
  --logo-color-two: #91ad98;
  --logo-shadow-color: #2e3e00;
}

body {
  background-color: var(--bg-color);
  color: var(--color);
}

label::after {
  background-color: transparent !important;
}

a {
  all: unset;
  cursor: pointer;
}

.form-control {
  background-color: transparent;
}

#moonIcon {
  transform: translateY(4px) !important;
}

#top-screen {
  flex: 1 1 50%;
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

#loginForm input,
#registerForm input{
  border: none;
}

#loginForm label,
#registerForm label{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#loginForm input:focus + label,
#loginForm input:valid + label,
#registerForm input:focus + label,
#registerForm input:valid + label{
  top: -10px;
  font-size: 12px;
}

.press-start-btn {
  all: unset;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 30px;
  animation: blink 1s infinite;
}

.menu-item.active .icon-border {
  display: none;
}

.game-menu {
  width: 100%;
  max-width: 400px;
}

.game-options {
  color: var(--bs-body-color);
}

.game-options [role="group"].locked {
  --primary-color: grey;
}

.nav-link.active {
  background-color: transparent !important;
  border-bottom: none;
}

#project-title,
.menu-item,
#profileMenu .nav-link {
  user-select: none;
}

#navigation-wrapper {
  transition-property: margin-left, margin-bottom;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

#message-button {
  border: 3px solid var(--secondary-color);
}

#message-button:hover {
  border: 3px solid var(--tertiary-color);
}

.btn-primary,
.btn-secondary {
  border: none;
}

.nav-item {
  width: 118px;
}

.nav-link {
  text-align: center;
}

.settings-cont,
.friends-cont {
  margin: 0 12px !important;
}

.input-group-text {
  background-color: var(--secondary-color);
  color: var(--bs-body-bg);
  border: none;
  border-right: 3px solid;
}

[data-bs-theme="light"] {
  @media (575px < width <= 991px) {
    .menu-item.active .icon-border {
      display: block;
      position: absolute;
      border-bottom: 2px solid var(--bs-body-color);
      width: 100%;
      z-index: 10000;
      height: 100%;
      transform: translateY(10px);
      pointer-events: none;
    }
  }
  @media (width <= 575px) {
    .menu-item.active .icon-border {
      display: block;
      position: absolute;
      border-bottom: 2px solid var(--bs-body-color);
      width: 100%;
      z-index: 10000;
      height: 100%;
      transform: translateY(6px);
      pointer-events: none;
    }
  }

  .form-floating > input {
    transition: none !important;
  }
  .form-control:disabled {
    border: 3px solid var(--secondary-color);
  }
  .form-control:disabled {
    background-color: var(--secondary-color);
    color: var(--bs-body-bg);
  }

  .text-body {
    color: var(--danger-color) !important;
  }
  .text-secondary {
    color: var(--secondary-color) !important;
  }
  .text-body-tertiary {
    color: var(--secondary-color) !important;
  }

  input:focus {
    outline: none;
    box-shadow: none;
    border: 3px solid var(--bs-border-color);
  }

  .btn-secondary {
    --bs-btn-hover-bg: var(--danger-color);
  }
  .btn-primary {
    --bs-btn-hover-bg: var(--danger-color);
  }
}

@keyframes rotate {
  from {
    transform: translateX(0%) rotate(180deg);
  }
  50% {
    transform: translateX(-30%) rotate(180deg);
  }
  to {
    transform: translateX(0%) rotate(180deg);
  }
}

#profile-window {
  background: linear-gradient(180deg, blue, rgb(0, 0, 83));
  width: 1000px;
  height: 600px;
}

#profile-window > * {
  /* border: 3px solid white;
  border-radius: 10px; */
}

#profileMenu .nav-link {
  color: var(--bs-body-color);
  opacity: 0.6;
  transition: all 0.3s !important;
}

#profileMenu .nav-link.active {
  color: var(--bs-body-color);
  opacity: 1;
}

[data-bs-theme="dark"] {
  .big-btn:hover {
    filter: drop-shadow(0px 0px 8px var(--bs-btn-active-bg));
  }

  .text-secondary {
    color: var(--table-header-color) !important;
  }

  .profile-img {
    filter: grayscale(20%) brightness(1) contrast(40);
  }

  hr {
    color: var(--bs-border-color);
    opacity: 1;
  }

  .btn-primary,
  button,
  .contestant-card div {
    text-shadow: none;
  }

  svg:not(#change-pic-svg svg) {
    filter: drop-shadow(0px 0px 2px);
  }

  .menu-item.active svg {
    filter: drop-shadow(0px 0px 5px);
  }

  body::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
      ),
      linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.06),
        rgba(0, 255, 0, 0.02),
        rgba(0, 0, 255, 0.06)
      );
    z-index: 5000;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }

  .menu-item.active {
    color: var(--glow-inner-color);
  }

  .form-control:disabled {
    background-color: var(--bs-secondary-bg);
    color: var(--logo-shadow-color);
    border: 3px solid var(--bs-secondary-bg);
  }
  .input-group-text {
    background-color: var(--bs-secondary-bg);
    color: var(--logo-shadow-color);
  }
  .form-control:focus {
    outline: none;
    box-shadow: none;
    border: 3px solid var(--bs-border-color);
  }
}

.link-text {
  /* color: var(--primary-color); */
}

* {
  transition: background-color 300ms;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100svh;
}

.menu-btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 30px;
  padding: 6px 0;
}

.mini-paddle {
  height: 20px;
  aspect-ratio: 1 / 4;
  background-color: var(--bs-body-color);
  display: none;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.menu-btn:hover {
  justify-content: space-between;
  .mini-paddle {
    display: block;
  }
  .mini-paddle.p1 {
    animation: move 1s infinite linear;
  }
  .mini-paddle.p2 {
    animation: move 1s infinite linear;
    animation-delay: -0.5s;
  }
}

@media (max-width: 575px) {
  .menu-nav {
    border: none !important;
    border-top: 2px solid var(--bs-border-color) !important;
    padding: 10px 20px !important;
  }
  #project-title {
    font-size: 170px !important;
  }
}

#title-container {
  height: 50vh;
}

.profile-img-box::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgba(0, 67, 23, 0);
  transition: baclground-color 100ms;
  z-index: 3;
}

.profile-img {
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 100ms filter linear;
  z-index: 1;
}

[data-bs-theme="light"] {
  .profile-img-box::before {
    background-color: rgba(0, 67, 23, 0.5);
  }
  .profile-img {
    filter: grayscale(100%) brightness(1.5) contrast(0.7) saturate(1);
  }
}

.menu-selector {
  display: none;
  transition: transform 0.3s;
  transform: rotate(180deg);
}

#navigation-wrapper.hidden {
  margin-bottom: -75px;
}

@media (min-width: 992px) {
  /* .menu-item {
    width: 200px;
  } */
  /* .menu-item:hover .menu-selector {
    display: block;
  }
  .menu-item.active {
    .menu-selector {
      display: block;
      animation: rotate 0.6s infinite;
    }
  } */
}

.form-floating > input {
  transition: background-color 300ms;
}

.login-header {
  height: 40%;
}

#modeSwitch:hover {
  cursor: pointer;
}

#project-title {
  font-family: "Jersey 10", sans-serif;
  font-style: normal;
  font-size: 200px;
  background-image: linear-gradient(
    var(--logo-color-one) 40%,
    var(--logo-color-two) 80%
  );
  color: var(--danger-color);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: perspective(200px) rotateX(10deg) translateY(30px);
  filter: drop-shadow(0px 10px var(--logo-shadow-color));
  pointer-events: none;
}

.profile-img-box {
  overflow: hidden;
}

#change-pic-svg {
  position: absolute;
  bottom: -60px;
  z-index: 10000;
  fill: var(--bs-body-bg);
  background-color: var(--secondary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  transition: bottom 0.2s ease-out;
}

.history-table tr {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-columns: 1fr 150px 1fr; */
}

.settings-switch {
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
}

.settings-switch:hover {
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
}

.settings-switch.on {
  background-color: var(--primary-color);
  color: var(--bs-body-bg);
}

@media (width < 576px) {
}

#change-pic-svg.appear {
  bottom: 0;
}

/* #debug-console {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  color: var(--tertiary-color);
} */

/* for debug */

/* Extra small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px horizontal
Extra extra large	xxl	≥1400px */
/* 
#navigation-wrapper::before {
  content: "xsm";
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 576px) {
  #navigation-wrapper::before {
    content: "sm";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

@media (min-width: 768px) {
  #navigation-wrapper::before {
    content: "md";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

@media (min-width: 992px) {
  #navigation-wrapper::before {
    content: "lg";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

@media (min-width: 1200px) {
  #navigation-wrapper::before {
    content: "xl";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

@media (min-width: 1400px) {
  #navigation-wrapper::before {
    content: "xxl";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
} */
