/* styles on top of Bootstrap */

:root {
  --bs-body-bg: #000000;
  --bs-body-color: #eedfff;
  /* --bs-border-color: rgb(255, 255, 255); */
  --semi-transparent-body-color: #f1e5ff39;
  --bs-secondary-bg: #140831;
  --my-primary-color: #bb14f8;
  --my-secondary-color: #00ffe5;
  --my-tertiary-color: #ffffff;
  --my-danger-color: #bb14f8;
  --logo-color-one: #d58fe8;
  --logo-color-two: #00ffe5;
  --logo-shadow-color: #264688;
  --glow-inner-color: #84f2aa;
  --glow-outer-color: #00ffea;
}

label::after {
  background-color: transparent !important;
}

* {
  border-width: 3px !important;
}

.form-control {
  background-color: transparent;
}

#homeNav {
  border-right: 1px solid var(--bs-body-color);
}

.menu-item.active .icon-border {
  display: none;
}

#navigation-wrapper {
  transition-property: margin-left, margin-bottom;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

#profileMenu {
  border-top: 3px dashed var(--bs-body-color);
}

#message-button {
  border: 3px solid var(--my-secondary-color);
}

#message-button:hover {
  border: 3px solid var(--my-tertiary-color);
}

#block-button {
  fill: var(--bs-body-color);
  opacity: 60%;
  position: absolute;
  top: 24px;
  right: 20px;
  cursor: pointer;
}

.btn-primary,
.btn-secondary {
  border: none;
}

.input-group-text {
  background-color: var(--my-secondary-color);
  color: var(--bs-body-bg);
  border: none;
  border-right: 3px solid;
}

[data-bs-theme="light"] {
  --bs-body-bg: #a5b796;
  --bs-border-color: rgb(80, 109, 85);
  --bs-body-color: hsla(131, 22%, 20%);
  --bs-secondary-bg: #cfcfcf;
  --my-primary-color: rgb(51 51 51);
  --my-secondary-color: rgb(102 131 106);
  --my-tertiary-color: hsl(130, 17%, 14%);
  --my-danger-color: hsl(130, 17%, 14%);
  --logo-color-one: #304e35;
  --logo-color-two: #91ad98;
  --logo-shadow-color: #2e3e00;
  #content-wrapper,
  #navigation-wrapper {
    filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.15));
  }
  @media (575px < width <= 991px) {
    .menu-item.active .icon-border {
      display: block;
      position: absolute;
      border-bottom: 2px solid var(--bs-body-color);
      width: 100%;
      z-index: 10000;
      height: 100%;
      transform: translateY(10px);
      pointer-events: none;
    }
  }
  @media (width <= 575px) {
    .menu-item.active .icon-border {
      display: block;
      position: absolute;
      border-bottom: 2px solid var(--bs-body-color);
      width: 100%;
      z-index: 10000;
      height: 100%;
      transform: translateY(6px);
      pointer-events: none;
    }
  }

  .form-floating > input {
    transition: none !important;
  }
  .form-control:disabled {
    border: 3px solid var(--my-secondary-color);
  }
  .form-control:disabled {
    background-color: var(--my-secondary-color);
    color: var(--bs-body-bg);
  }

  .text-body {
    color: var(--my-danger-color) !important;
  }
  .text-secondary {
    color: var(--my-secondary-color) !important;
  }
  .text-body-tertiary {
    color: var(--my-secondary-color) !important;
  }

  input:focus {
    outline: none;
    box-shadow: none;
    border: 3px solid var(--bs-border-color);
  }

  #homeNav {
    border-right: 3px solid var(--my-secondary-color);
  }

  #profileMenu {
    border-top: 3px dashed var(--my-secondary-color);
  }
  .btn-secondary {
    --bs-btn-hover-bg: var(--my-danger-color);
  }
  .btn-primary {
    --bs-btn-hover-bg: var(--my-danger-color);
  }
}

@keyframes rotate {
  from {
    transform: translateX(0%) rotate(180deg);
  }
  50% {
    transform: translateX(-30%) rotate(180deg);
  }
  to {
    transform: translateX(0%) rotate(180deg);
  }
}

#profileMenu .nav-link {
  color: var(--bs-body-color);
  opacity: 0.6;
  transition: all 0.3s !important;
}

#profileMenu .nav-link.active {
  color: var(--bs-body-color);
  opacity: 1;
}

[data-bs-theme="dark"] {
  .big-btn:hover {
    filter: drop-shadow(0px 0px 8px var(--bs-btn-active-bg));
  }

  .profile-img {
    filter: grayscale(20%) brightness(1) contrast(40);
  }

  body::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
      ),
      linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.06),
        rgba(0, 255, 0, 0.02),
        rgba(0, 0, 255, 0.06)
      );
    z-index: 5000;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }

  .menu-item.active {
    color: var(--glow-inner-color);
    filter: drop-shadow(0px 0px 3px var(--glow-outer-color));
  }

  .form-control:disabled {
    background-color: var(--bs-secondary-bg);
    color: var(--logo-shadow-color);
    border: 3px solid var(--bs-secondary-bg);
  }
  .input-group-text {
    background-color: var(--bs-secondary-bg);
    color: var(--logo-shadow-color);
  }
  .form-control:focus {
    outline: none;
    box-shadow: none;
    border: 3px solid var(--bs-border-color);
  }
}

.btn-outline-primary {
  --bs-btn-color: var(--my-primary-color);
  --bs-btn-border-color: var(--my-primary-color);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--my-primary-color);
  --bs-btn-hover-border-color: var(--my-primary-color);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: hsl(0, 0%, 100%);
  --bs-btn-active-bg: var(--my-primary-color);
  --bs-btn-active-border-color: var(--my-primary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--my-primary-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--my-primary-color);
  --bs-gradient: none;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.5);
}

.btn-outline-secondary {
  --bs-btn-color: var(--my-secondary-color);
  --bs-btn-border-color: var(--my-secondary-color);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--my-tertiary-color);
  --bs-btn-hover-border-color: var(--my-tertiary-color);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--my-secondary-color);
  --bs-btn-active-border-color: var(--my-secondary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--my-secondary-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--my-secondary-color);
  --bs-gradient: none;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.5);
}

.btn-primary {
  --bs-btn-color: var(--bs-body-bg);
  --bs-btn-bg: var(--my-primary-color);
  --bs-btn-border-color: var(--my-primary-color);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--my-tertiary-color);
  --bs-btn-hover-border-color: var(--my-primary-color);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--bs-body-bg);
  --bs-btn-active-bg: var(--my-primary-color);
  --bs-btn-active-border-color: var(--my-primary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--bs-body-bg);
  --bs-btn-disabled-bg: var(--my-primary-color);
  --bs-btn-disabled-border-color: var(--my-primary-color);
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.5);
}

.btn-secondary {
  --bs-btn-color: var(--bs-body-bg);
  --bs-btn-bg: var(--my-secondary-color);
  --bs-btn-border-color: var(--my-secondary-color);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--my-tertiary-color);
  --bs-btn-hover-border-color: var(--my-secondary-color);
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: var(--bs-body-bg);
  --bs-btn-active-bg: var(--my-secondary-color);
  --bs-btn-active-border-color: var(--my-secondary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--my-secondary-color);
  --bs-btn-disabled-border-color: var(--my-secondary-color);
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.5);
}

.btn-outline-danger {
  --bs-btn-color: var(--my-danger-color);
  --bs-btn-border-color: var(--my-danger-color);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--my-danger-color);
  --bs-btn-hover-border-color: var(--my-danger-color);
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--my-danger-color);
  --bs-btn-active-border-color: var(--my-danger-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--my-danger-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--my-danger-color);
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.5);
}

.link-text {
  color: var(--my-primary-color);
}

* {
  transition: background-color 300ms;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100svh;
}

@media (max-width: 575px) {
  .menu-nav {
    border: none !important;
    border-top: 1.5px solid var(--bs-body-color) !important;
    padding: 10px 20px !important;
  }
}

.profile-img-box::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgba(0, 67, 23, 0);
  transition: baclground-color 100ms;
  z-index: 3;
}

.profile-img {
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 100ms filter linear;
  z-index: 1;
}

[data-bs-theme="light"] {
  .profile-img-box::before {
    background-color: rgba(0, 67, 23, 0.5);
  }
  .profile-img {
    filter: grayscale(100%) brightness(1.5) contrast(0.7) saturate(1);
  }
}

.menu-selector {
  display: none;
  transition: transform 0.3s;
  transform: rotate(180deg);
}

@media (width < 576px) {
  #navigation-wrapper.hidden {
    margin-bottom: -75px;
  }
}

@media (576px <= width <= 991px) {
  #navigation-wrapper.hidden {
    margin-left: -91px;
  }
}

@media (min-width: 992px) {
  .menu-item:hover .menu-selector {
    display: block;
  }
  .menu-item.active {
    .menu-selector {
      display: block;
      animation: rotate 0.6s infinite;
    }
  }
  #navigation-wrapper.hidden {
    margin-left: -263.15px;
  }
}

.form-floating > input {
  transition: background-color 300ms;
}

.login-header {
  height: 40%;
}

#modeSwitch:hover {
  cursor: pointer;
}

#project-title {
  font-family: "Jersey 10", sans-serif;
  font-style: normal;
  font-size: 120px !important;
  background-image: linear-gradient(
    var(--logo-color-one) 40%,
    var(--logo-color-two) 80%
  );
  color: var(--my-danger-color);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: skewX(-15deg);
  filter: drop-shadow(0px 10px var(--logo-shadow-color));
}

.profile-img-box {
  overflow: hidden;
}

#change-pic-svg {
  position: absolute;
  bottom: -60px;
  z-index: 10000;
  fill: var(--bs-body-bg);
  background-color: var(--my-secondary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  transition: bottom 0.2s ease-out;
}

#change-pic-svg.appear {
  bottom: 0;
}

/* #debug-console {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  color: var(--my-tertiary-color);
} */

/* for debug */

/* Extra small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px horizontal
Extra extra large	xxl	≥1400px */

/* #navigation-wrapper::before {
  content: "xsm";
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 576px) {
  #navigation-wrapper::before {
    content: "sm";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

@media (min-width: 768px) {
  #navigation-wrapper::before {
    content: "md";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

@media (min-width: 992px) {
  #navigation-wrapper::before {
    content: "lg";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

@media (min-width: 1200px) {
  #navigation-wrapper::before {
    content: "xl";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

@media (min-width: 1400px) {
  #navigation-wrapper::before {
    content: "xxl";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
} */
