@import url("styles.css");

[data-bs-theme="light"] {
  --game-ui-color: var(--my-secondary-color);
}
[data-bs-theme="dark"] {
  --game-ui-color: var(--bs-body-color);
}

#game-container {
  container-type: size;
  container-name: resize-box;
  display: grid;
  overflow: hidden;
}

#game-field {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: contain;
  overflow: hidden;
  margin: auto;
  border: 3px solid var(--game-ui-color) !important;
}

.paddle {
  transition: all 100ms ease-out;
  background-color: var(--game-ui-color);
}

#player-one {
  --y: 50;
}

#player-two {
  --y: 50;
}

#ball {
  aspect-ratio: 1/1;
  transform: translate(-50%, 50%);
  --x: 50;
  --y: 50;
  background-color: var(--game-ui-color);
}

.separator-chunk {
  background-color: var(--game-ui-color);
}

/* horizontal */
@media (min-width: 1200px) {
  #game-field {
    aspect-ratio: 4/3;
  }
  .player-axis {
    width: 2%;
  }
  .paddle {
    width: 100%;
    height: 20%;
    top: calc(var(--y) * 1%);
    transform: translateY(-50%);
  }
  #ball {
    height: 3%;
    left: calc(var(--x) * 1%);
    top: calc(var(--y) * 1%);
    transform: translate(-50%, -50%);
  }
  #separator {
    height: 100%;
    width: 1%;
  }
  .separator-chunk {
    height: 4%;
    width: 100%;
  }
  #score-one {
    right: 100%;
    top: 0;
  }
  #score-two {
    left: 100%;
    top: 0;
  }
  #name-one {
    right: 100%;
    bottom: 0;
  }
  #name-two {
    left: 100%;
    bottom: 0;
  }
  #debug-info {
    right: 25%;
  }
  @container resize-box (aspect-ratio > 4/3) {
    #game-field {
      width: auto;
      height: 100%;
    }
  }
}

@media (min-width: 1600px) {
  #game-field {
    aspect-ratio: 4/3;
    width: 1200px;
    height: 900px;
  }
}

/* vertical  */
@media (max-width: 1199px) {
  #game-field {
    aspect-ratio: 3/4;
  }
  .player-axis {
    height: 2%;
  }
  .paddle {
    width: 20%;
    height: 100%;
    left: calc(var(--y) * 1%);
    transform: translateX(-50%);
  }
  #ball {
    width: 3%;
    top: calc(var(--x) * 1%);
    right: calc(var(--y) * 1%);
    transform: translate(50%, -50%);
  }
  #separator {
    width: 100%;
    height: 1%;
  }
  .separator-chunk {
    width: 4%;
    height: 100%;
  }
  #score-one {
    right: 0;
    bottom: 0;
  }
  #score-two {
    right: 0;
    top: 0;
  }
  #name-one {
    left: 0;
    bottom: 0;
  }
  #name-two {
    left: 0;
    top: 0;
  }
  #debug-info {
    top: 10%;
  }
  @container resize-box (aspect-ratio > 3/4) {
    #game-field {
      width: auto;
      height: 100%;
    }
  }
}
