/* styles on top of Bootstrap */

:root {
  --bs-body-bg: #000000;
  --bs-body-color: #f0e3ff;
  /* --bs-body-secondary-color: #defff0; */
  /* --bs-border-color: rgb(255, 255, 255); */
  --bs-secondary-bg: #140831;
  --my-primary-color: #bb14f8;
  --my-secondary-color: #00ffe5;
  --my-tertiary-color: #ffffff;
  --my-danger-color: #bb14f8;
  --logo-color-one: #d58fe8;
  --logo-color-two: #00ffe5;
  --logo-shadow-color: #264688;
  /* --logo-shadow-color: #421010; */
  --glow-inner-color: #84f2aa;
  --glow-outer-color: #00ffea;
  /* --glow-inner-color: #fffd00;
  --glow-outer-color: #00ff28; */
}

label::after {
  background-color: transparent !important;
}

* {
  border-width: 3px !important;
}

.form-control {
  background-color: transparent;
}

#homeNav {
  border-right: 3px solid var(--bs-body-color);
}

#profileMenu {
  border-top: 3px dashed var(--bs-body-color);
}

.btn-primary,
.btn-secondary {
  border: none;
}

.input-group-text {
  background-color: var(--my-secondary-color);
  color: var(--bs-body-bg);
  border: none;
  border-right: 3px solid;
}

[data-bs-theme="light"] {
  --bs-body-bg: #a0a69b;
  --bs-border-color: rgb(80, 109, 85);
  --bs-body-color: hsla(131, 22%, 20%);
  --bs-secondary-bg: #cfcfcf;
  --my-primary-color: rgb(43, 86, 52);
  --my-secondary-color: rgb(95, 115, 98);
  --my-tertiary-color: hsl(130, 19%, 59%);
  --my-danger-color: hsl(130, 17%, 14%);
  --logo-color-one: #304e35;
  --logo-color-two: #91ad98;
  --logo-shadow-color: #2e3e00;
  #content-wrapper,
  #navigation-wrapper {
    filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.15));
  }
  .form-floating > input {
    transition: none !important;
  }
  .form-control:disabled {
    border: 3px solid var(--my-secondary-color);
  }
  .form-control:disabled {
    background-color: var(--my-secondary-color);
    color: var(--bs-body-bg);
  }

  .text-body {
    color: var(--my-danger-color) !important;
  }
  .text-secondary {
    color: var(--my-secondary-color) !important;
  }
  .text-body-tertiary {
    color: var(--my-secondary-color) !important;
  }

  input:focus {
    outline: none;
    box-shadow: none;
    border: 3px solid var(--bs-border-color);
  }

  #homeNav {
    border-right: 3px solid var(--my-secondary-color);
  }

  #profileMenu {
    border-top: 3px dashed var(--my-secondary-color);
  }
  .btn-secondary {
    --bs-btn-hover-bg: var(--my-danger-color);
  }
  .btn-primary {
    --bs-btn-hover-bg: var(--my-danger-color);
  }
}

[data-bs-theme="dark"] {
  .big-btn:hover {
    filter: drop-shadow(0px 0px 25px var(--bs-btn-active-bg));
  }
  .menu-item:hover > *:not(.profile-img-box) {
    color: var(--glow-inner-color);
    filter: drop-shadow(0px 0px 3px var(--glow-outer-color));
    transition: 0ms;
  }

  .form-control:disabled {
    background-color: var(--bs-secondary-bg);
    color: var(--logo-shadow-color);
    border: 3px solid var(--bs-secondary-bg);
  }
  .input-group-text {
    background-color: var(--bs-secondary-bg);
    color: var(--logo-shadow-color);
  }
  .form-control:focus {
    outline: none;
    box-shadow: none;
    border: 3px solid var(--bs-border-color);
  }
}

.btn-outline-primary {
  --bs-btn-color: var(--my-primary-color);
  --bs-btn-border-color: var(--my-primary-color);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--my-primary-color);
  --bs-btn-hover-border-color: var(--my-primary-color);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--my-primary-color);
  --bs-btn-active-border-color: var(--my-primary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--my-primary-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--my-primary-color);
  --bs-gradient: none;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.5);
}

.btn-outline-secondary {
	--bs-btn-color: var(--my-secondary-color);
	--bs-btn-border-color: var(--my-secondary-color);
	--bs-btn-hover-color: var(--bs-body-bg);
	--bs-btn-hover-bg: var(--my-secondary-color);
	--bs-btn-hover-border-color: var(--my-secondary-color);
	--bs-btn-focus-shadow-rgb: 13, 110, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: var(--my-secondary-color);
	--bs-btn-active-border-color: var(--my-secondary-color);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--my-secondary-color);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: var(--my-secondary-color);
	--bs-gradient: none;
	--bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.5);
  }

.btn-primary {
  --bs-btn-color: var(--bs-body-bg);
  --bs-btn-bg: var(--my-primary-color);
  --bs-btn-border-color: var(--my-primary-color);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--my-tertiary-color);
  --bs-btn-hover-border-color: var(--my-primary-color);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--bs-body-bg);
  --bs-btn-active-bg: var(--my-primary-color);
  --bs-btn-active-border-color: var(--my-primary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--bs-body-bg);
  --bs-btn-disabled-bg: var(--my-primary-color);
  --bs-btn-disabled-border-color: var(--my-primary-color);
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.5);
}

.btn-secondary {
  --bs-btn-color: var(--bs-body-bg);
  --bs-btn-bg: var(--my-secondary-color);
  --bs-btn-border-color: var(--my-secondary-color);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--my-tertiary-color);
  --bs-btn-hover-border-color: var(--my-secondary-color);
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: var(--bs-body-bg);
  --bs-btn-active-bg: var(--my-secondary-color);
  --bs-btn-active-border-color: var(--my-secondary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--my-secondary-color);
  --bs-btn-disabled-border-color: var(--my-secondary-color);
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.5);
}

.btn-outline-danger {
  --bs-btn-color: var(--my-danger-color);
  --bs-btn-border-color: var(--my-danger-color);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--my-danger-color);
  --bs-btn-hover-border-color: var(--my-danger-color);
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--my-danger-color);
  --bs-btn-active-border-color: var(--my-danger-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--my-danger-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--my-danger-color);
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.5);
}

.link-text {
  color: var(--my-primary-color);
}

* {
  transition: background-color 300ms;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input {
  font-family: "Pixelify Sans", sans-serif;
}

body {
  height: 100svh;
}

@media (max-width: 576px) {
  .menu-nav {
    /* border-radius: 40px 40px 0 0 !important; */
    border: none !important;
    border-top: 3px solid !important;
  }
}

.profile-img-box::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgba(0, 67, 23, 0);
  transition: baclground-color 100ms;
  z-index: 3;
}

.profile-img {
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-filter: grayscale(0%) brightness(1) contrast(1000) saturate(0);
  -webkit-transition: 100ms -webkit-filter linear;
  z-index: 1;
}

[data-bs-theme="light"] {
  .profile-img-box::before {
    background-color: rgba(0, 67, 23, 0.5);
  }
  .profile-img {
    filter: grayscale(100%) brightness(2.5) contrast(0.7) saturate(1);
  }
}

.menu-selector {
  display: none;
  transition: transform 0.3s;
  transform: rotate(180deg);
}

@media (min-width: 992px) {
  .menu-item:hover .menu-selector {
    display: block;
  }
}

.form-floating > input {
  transition: background-color 300ms;
}

.login-header {
  height: 40%;
}

#modeSwitch:hover {
  cursor: pointer;
}

#project-title {
  font-family: "Jersey 10", sans-serif;
  font-style: normal;
  font-size: 120px !important;
  background-image: linear-gradient(
    var(--logo-color-one) 40%,
    var(--logo-color-two) 80%
  );
  color: var(--my-danger-color);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* transform: perspective(400px) rotateX(45deg) scaleY(1.8); */
  transform: skewX(-15deg);
  filter: drop-shadow(0px 10px var(--logo-shadow-color));
}

/* for debug */

/* Extra small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px horizontal
Extra extra large	xxl	≥1400px */
/* 
#navigation-wrapper::before {
  content: "xsm";
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 576px) {
  #navigation-wrapper::before {
    content: "sm";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

@media (min-width: 768px) {
  #navigation-wrapper::before {
    content: "md";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

@media (min-width: 992px) {
  #navigation-wrapper::before {
    content: "lg";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

@media (min-width: 1200px) {
  #navigation-wrapper::before {
    content: "xl";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

@media (min-width: 1400px) {
  #navigation-wrapper::before {
    content: "xxl";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
} */
