@import url("styles.css");

[data-bs-theme="light"] {
  --game-ui-color: var(--my-secondary-color);
}
[data-bs-theme="dark"] {
  --game-ui-color: var(--my-color);
}

#game-container {
  container-type: size;
  container-name: resize-box;
  display: grid;
  overflow: hidden;
}

#game-field {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: contain;
  container-type: size;
  overflow: hidden;
  margin: auto;
  transition: all 300ms ease-out, transform 3s linear;
  will-change: transform;
}

.paddle {
  background-color: var(--game-ui-color);
}

#ball {
  aspect-ratio: 1/1;
  transform: translate(-50%, 50%);
  --x: 50;
  --y: 50;
  background-color: var(--game-ui-color);
}

#player-one {
  --y: 50;
}

#player-two {
  --y: 50;
}

.separator-chunk {
  background-color: var(--game-ui-color);
}

#pause-area {
  cursor: pointer;
  z-index: 100;
}

#game-field.paused {
  filter: blur(3px);
  opacity: 0.2;
}

#winner-name {
	color: var(--my-primary-color);
}

#quit-button {
  cursor: pointer;
}

#pause-menu,
#game-over {
  font-size: 5cqw;
  z-index: 5000;
}

#pause-menu > div:first-child {
  margin-bottom: 2cqw;
}

#pause-menu > div:last-child {
  gap: 8cqw;
}

#pause-menu > div:last-child > *:hover,
#quit-button:hover{
  text-decoration: underline;
  text-underline-offset: 2cqw;
}

#resume-btn {
  cursor: pointer;
}

#instructions-left,
#instructions-right {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  opacity: 1;
  transition: opacity 300ms ease-out;
}

#instructions-left.remove,
#instructions-right.remove {
  opacity: 0;
}

/* horizontal */
@media (min-width: 1200px) {
  #game-field {
    aspect-ratio: 4/3;
  }
  .score {
    font-size: 5cqw;
  }
  .player-name {
    font-size: 3cqw;
  }
  .field-buffer {
    background-color: red;
    width: calc(var(--bufferWidth) * 1%);
    height: 100%;
  }
  .paddle {
    width: 100%;
    height: calc(var(--paddleHeight) * 1%);
    width: calc(var(--paddleWidth) * 1%);
    top: calc(var(--y) * 1%);
    transform: translateY(-50%);
  }
  .paddle#player-one {
    left: calc(var(--bufferWidth) * 1%);
  }
  .paddle#player-two {
    right: calc(var(--bufferWidth) * 1%);
  }

  #ball {
    height: calc(var(--ballWidth) * 1%);
    left: calc(var(--x) * 1%);
    top: calc(var(--y) * 1%);
    transform: translate(-50%, -50%);
  }
  #separator {
    height: 100%;
    width: 1%;
  }
  .separator-chunk {
    height: 4%;
    width: 100%;
  }
  #score-one {
    right: 100%;
    top: 0;
  }
  #score-two {
    left: 100%;
    top: 0;
  }
  #name-one {
    right: 100%;
    bottom: 0;
  }
  #name-two {
    left: 100%;
    bottom: 0;
  }
  #instructions-left {
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
  }
  
  #instructions-right {
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
  }
  @container resize-box (aspect-ratio > 4/3) {
    #game-field {
      width: auto;
      height: 100%;
    }
  }
  #pause-area {
    height: 100%;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 1600px) {
  #game-field {
    aspect-ratio: 4/3;
    width: 1200px;
    height: 900px;
  }
}

/* vertical  */
@media (max-width: 1199px) {
  #game-field {
    aspect-ratio: 3/4;
  }
  .score {
    font-size: 5cqh;
  }
  .player-name {
    font-size: 3cqh;
  }
  .player-axis {
    height: calc(var(--paddleWidth) * 1%);
  }
  .paddle {
    width: calc(var(--paddleHeight) * 1%);
    height: calc(var(--paddleWidth) * 1%);
    right: calc(var(--y) * 1%);
    transform: translateX(50%);
  }
  .paddle#player-one {
    top: calc(var(--bufferWidth) * 1%);
  }
  .paddle#player-two {
    bottom: calc(var(--bufferWidth) * 1%);
  }
  #ball {
    width: calc(var(--ballWidth) * 1%);
    top: calc(var(--x) * 1%);
    right: calc(var(--y) * 1%);
    transform: translate(50%, -50%);
  }
  #separator {
    width: 100%;
    height: 1%;
  }
  .separator-chunk {
    width: 4%;
    height: 100%;
  }
  #score-one {
    right: 0;
    bottom: 0;
  }
  #score-two {
    right: 0;
    top: 0;
  }
  #name-one {
    left: 0;
    bottom: 0;
  }
  #name-two {
    left: 0;
    top: 0;
  }
  #debug-info {
    top: 10%;
  }
  #instructions-left {
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
  }
  
  #instructions-right {
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
  }
  @container resize-box (aspect-ratio > 3/4) {
    #game-field {
      width: auto;
      height: 100%;
    }
  }
  #pause-area {
    width: 100%;
    height: 30%;
    top: 50%;
    transform: translateY(-50%);
  }
}
